/*  Small devices (landscape phones, 576px and up)* */

@media all and (min-width: 256px) {
  body {
    margin: 0;
  }

  #mainPhotographe,
  #main {
    max-width: 1440px;
    margin: auto;
  }

  :focus {
    outline: none !important;
    border: 1px solid #db8876;
    box-shadow: 0 0 10px #901c1c;
  }

  button,
  select,
  li {
    cursor: pointer;
  }

  #logoPerso {
    width: 100px;
    height: 26.5px;
    margin-left: 10px;
    margin-top: 40px;
  }

  .logo_h1 {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
  }

  h1 {
    align-self: flex-end;
    margin-top: 11px;
    height: 18px;
    width: 145px;
    color: #911c1c;
    font-family: DM Sans;
    font-size: 12px;
    font-weight: 900;
    margin-top: 4px;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-left: 0px;
    margin-top: 40px;
    border-radius: 11px;
    color: #911c1c;
    list-style: none;
    justify-content: center;
  }

  .hash,
  .tagsTab {
    font-family: DM Sans;
    font-weight: 500;
    font-size: 11px;
    width: 100px;
    border-radius: 11px;
    border: 0.5px solid #c4c4c4;
    text-align: center;
    margin-left: 10px;
    margin-bottom: 10px;
  }

  .tagsTab {
    font-size: 11px;
    padding: 5px;
    margin-left: 4px;
  }

  .navigation {
    width: 100%;
  }

  #photographes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .vignettePhotographes {
    height: 310px;
    width: 200px;
    margin-top: 40px;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
  }

  .vignette {
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }

  .name,
  .namePerso {
    font-family: DM Sans;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
    color: #d3573c;
  }

  .city,
  .cityPerso {
    font-family: DM Sans;
    font-size: 13px;
    margin-top: 2px;
    margin-bottom: 0px;
  }

  .tagline,
  .taglinePerso {
    font-family: DM Sans;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0em;
    margin-bottom: 0px;
    margin-top: 2px;
    color: #757575;
  }

  .price {
    margin: 0px;
    color: #757575;
    font-family: DM Sans;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
  }

  .pagePersoPhotographe {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin-left: 10px;
  }

  .photographesTagList,
  .photographesTagListPerso {
    margin: 10px;
    justify-content: center;
  }

  .photographesTagListPerso {
    width: 100%;
    justify-content: start;
  }

  .persoPhoto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 500px;
  }

  .vignettePerso {
    object-fit: cover;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-left: 11px;
    margin-right: 5px;
  }

  #persoContactBtn {
    position: fixed;
    height: 50px;
    width: 170px;
    border-radius: 5px;
    background: #911c1c;
    color: white;
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 500;
    border: none;
    overflow: auto;
    bottom: 40px;
    z-index: 2;
  }

  .triPhoto {
    display: none;
  }

  #pageMedia {
    margin-top: -230px;
  }

  .mediaPhotographes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 250px;
    background-size: cover;
    border-radius: 5px;
    margin-top: 30px;
  }

  .path {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1;
  }

  .infoMedia {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .title {
    margin-top: 10px;
    margin-bottom: 0px;
    color: #901c1c;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
  }

  .likes {
    font-family: DM Sans;
    margin-top: 10px;
    font-size: 14px;
    color: #901c1c;
    height: 18px;
  }

  .fa-heart {
    margin-top: 12px;
    font-size: 14px;
    color: #901c1c;
  }
  .dateTri {
    display: none;
  }

  .likesBtn {
    margin-left: 10px;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ffffff;
  }

  #likesCount {
    display: none;
  }
  #modal {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    overflow: auto;
    display: none;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
  }

  #modalForm {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    border-radius: 5px;
    align-items: flex-start;
    background-color: #db8876;
  }

  #titleModal {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0px;
    color: #000;
  }

  label {
    font-size: 20px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: left;
    color: #312e2e;
    margin-left: 20px;
    align-self: flex-start;
  }

  .trier {
    font-size: 20px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: left;
    color: #312e2e;
    margin-left: 20px;
    align-self: center;
  }

  #champ {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 120px;
  }
  #message {
    height: 184px;
    width: 100%;
    border-radius: 5px;
    margin-left: 20px;
  }

  #first,
  #last,
  #email {
    height: 30px;
    width: 100%;
    border-radius: 5px;
    margin-left: 20px;
  }

  .first-text-control,
  .last-text-control,
  .mail-text-control,
  .birth-text-control,
  .qtity-text-control {
    padding: 8px;
    border: 0.8px solid #ccc;
    outline: none;
  }

  .first-text-control,
  .last-text-control,
  .mail-text-control,
  .mess-text-control {
    margin: 0;
    padding: 8px;
    width: 100%;
    border-radius: 8px;
    font-size: 20px;
    height: 48px;
    border: none;
  }

  .first-text-control[data-error-visible="true"],
  .last-text-control[data-error-visible="true"],
  .mail-text-control[data-error-visible="true"],
  .mess-text-control[data-error-visible="true"] {
    content: attr(data-error-visible);
    border: 2px solid #e54858;
    opacity: 1;
  }

  .firstredChamp[data-error]::after,
  .lastredChamp[data-error]::after,
  .mailredChamp[data-error]::after,
  .messredChamp[data-error]::after {
    content: attr(data-error);
    font-family: DM Sans;
    color: #901c1c;
    font-weight: 700;
    margin-left: 20px;
  }

  .text-control {
    border: none;
    height: 170px;
    width: 599px;
    left: 35px;
    top: 597px;
    border-radius: 5px;
    margin-bottom: 20px;
  }

  .small-text-control {
    height: 68px;
    width: 599px;
    left: 35px;
    top: 237px;
    border-radius: 5px;
    margin-bottom: 20px;
    border: none;
  }

  .btn-submit {
    height: 35px;
    width: 170px;
    left: 97px;
    top: 702px;
    border-radius: 5px;
    background-color: #901c1c;
    color: #ffffff;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    border: none;
    text-align: center;
    align-self: center;
    margin-bottom: 20px;
  }

  #persoContactBtn:hover {
    background-color: #db8876;
    color: black;
  }

  .headModal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin-left: 10px;
    margin-bottom: 20px;
  }
  #modalClose {
    align-self: flex-start;
    width: 20%;
    height: 100%;
    cursor: pointer;
    border: none;
    color: #ffffff;
    background-color: transparent;
  }
  .fermer {
    display: none;
  }
  .fa-times {
    width: 100%;
    height: 100%;
    font-size: 50px;
    margin-top: 5px;
  }

  .fa-times:before {
    font-size: 50px;
  }

  .hiddenImg {
    display: none;
  }

  #boxes {
    display: none;
    justify-content: center;
  }

  .lightbox__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
  }

  .imgBox,
  #bigBox {
    border-radius: 5px;
    display: flex;
  }

  .imgBox {
    align-self: center;
  }

  #bigBox {
    width: 100%;
    height: 80%;
    border-radius: 5px;
    margin: 0px;
    object-fit: cover;
  }
  #lightBox {
    display: flex;
  }

  #lightbox__close {
    display: none;
    font-size: 25px;
    z-index: 6;
    opacity: 0.3;
    align-self: flex-start;
    width: auto;
    border-radius: 0px;
    cursor: pointer;
    transform: scale(0.7);
    border: none;
    background-color: transparent;
    color: #911c1c;
    margin-left: -30px;
  }
  #lightbox__next,
  #lightbox__prev {
    display: block;
    color: #911c1c;
    border: none;
    width: 10%;
    font-size: 25px;
    z-index: 6;
    opacity: 0.3;
    cursor: pointer;
    background-color: transparent;
    height: 20%;
    align-self: center;
  }

  #lightbox__next:hover,
  #lightbox__prev:hover,
  #lightbox__close:hover {
    opacity: 1;
  }

  #lightbox__prev {
    right: auto;
    margin-left: 0px;
  }

  .boxName {
    color: #901c1c;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
    align-self: flex-start;
    margin-top: 5px;
  }
}

@media all and (min-width: 375px) {
  .logo_h1 {
    width: 100%;
  }

  h1 {
    font-size: 14px;
  }

  .photographesTagList {
    margin-left: -7px;
    margin-top: 15px;
    flex-wrap: nowrap;
    justify-content: center;
    width: 85%;
  }

  .hash,
  .tagsTab {
    font-size: 12px;
    width: 86px;
    padding: 2px;
  }

  .likes {
    margin-right: 10px;
  }

  #lightBox {
    height: 900px;
    border-radius: 5px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media all and (min-width: 768px) {
  .persoPhoto {
    display: flex;
    flex-direction: row;
    position: relative;
    color: #fafafa;
    margin: 10px;
  }

  .namePerso {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    margin-bottom: 0px;
    color: #d3573c;
    margin-top: 0px;
  }

  .cityPerso {
    font-family: DM Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    margin: 0px;
    text-align: left;
    color: #901c1c;
  }

  .taglinePerso {
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin: 0px;
    margin-top: 5px;
    text-align: left;
    color: #525252;
    margin-bottom: 20px;
  }

  .photographesTagListPerso {
    display: flex;
    padding: 0px;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    margin: 0px;
    letter-spacing: 0em;
    text-align: left;
    color: #901c1c;
  }

  #logoPerso {
    justify-content: left;
    margin-top: 45px;
  }

  #persoContactBtn {
    height: 69px;
    width: 170px;
    border-radius: 5px;
    background-color: #911c1c;
    color: #ffffff;
    font-size: 20px;
  }

  .vignettePerso {
    border-radius: 50%;
    object-fit: cover;
  }

  .mediaPhotographes {
    margin-top: 50px;
  }

  .fa-chevron-right,
  .fa-chevron-left {
    font-size: 50px;
  }
  .boxName {
    font-size: 25px;
  }
}

/* Medium devices (tablets, 988px and up) */
@media all and (min-width: 988px) {
  #logoPerso {
    width: 150px;
    height: 37.5px;
    margin-left: 50px;
  }

  #persoContactBtn {
    position: absolute;
    margin-top: 20px;
    margin-left: 100px;
  }

  h1 {
    align-self: flex-end;
    font-size: 16px;
  }
  .mediaPhotographes {
    height: 500px;
    width: 30%;
  }

  .persoPhoto {
    height: 100%;
    margin: 0px;
  }

  .triPhoto {
    display: flex;
    margin-top: 30px;
    margin-left: 30px;
  }

  #choixTri {
    height: 60px;
    width: 170px;
    border-radius: 5px;
    background-color: #911c1c;
    color: #ffffff;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 20px;
    margin-left: 25px;
  }

  .choix {
    font-weight: 600;
  }

  #pageMedia {
    margin-top: 0px;
  }

  .title {
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
    color: #901c1c;
  }

  #likesCount {
    height: 60px;
    width: 330px;
    border-radius: 5px;
    align-items: center;
    display: flex;
    border-radius: 5px;
    background-color: #db8876;
    position: fixed;
    z-index: 1;
    bottom: 0;
    right: 0;
    padding: 8px;
    overflow: auto;
  }

  .likesPrice {
    margin-top: 30px;
  }

  #price {
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 3px;
  }
  .likesBtn {
    padding: 0px;
  }

  .likesPrice {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .compteurDeLikes {
    display: flex;
    align-items: center;
    height: 31px;
    width: 87px;
    margin-top: -15px;
  }

  #compteur {
    font-family: DM Sans;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: right;
    height: 31px;
    width: 87px;
    left: -76px;
    top: 15px;
  }

  #price {
    height: 31px;
    width: 133px;
    font-family: DM Sans;
    font-size: 25px;
    margin-left: 50px;
    margin-top: -15px;
  }

  .likes {
    font-size: 20px;
    margin-left: 20px;
  }

  .fa-heart {
    font-size: 20px;
    margin-left: 10px;
  }

  .likeHeart {
    color: black;
    font-size: 35px;
    margin-top: 0px;
  }

  #pageMedia {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
  }

  .vignettePerso {
    margin-top: 0px;
  }

  .path {
    height: 300px;
    width: 100%;
    left: 0px;
    top: 0px;
    border-radius: 5px;
  }

  #modalForm {
    height: 900px;
    width: 669px;
    border-radius: 5px;
  }

  #modal {
    align-items: center;
  }

  .headModal,
  #champ {
    margin-left: 50px;
  }

  .btn-submit {
    margin-left: 68px;
    margin-top: 30px;
    align-self: flex-start;
    height: 69px;
    width: 170px;
    border-radius: 5px;
  }

  #first,
  #last,
  #email,
  #message {
    width: 542px;
    border-radius: 5px;
    align-self: flex-start;
  }

  .lightbox__container {
    width: 800px;
    height: 800px;
  }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media all and (min-width: 1200px) {
  header {
    margin: 20px;
  }
  .list {
    margin-top: -30px;
  }

  .mediaPhotographes {
    width: 30%;
  }

  #photographes {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .vignettePerso {
    margin-right: 30px;
    width: 200px;
    height: 200px;
  }

  .vignettePhotographes {
    margin: 120px;
  }

  #boxes {
    width: auto;
    height: auto;
    justify-content: center;
  }

  #bigBox {
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media all and (min-width: 1440px) {
}
